---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GibHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Edwin Ordoñez - Desarrollador - Analista y Programador Web"
  description="Desarrollo web en WordPress - Analista operativo y de sistema."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="https://th.bing.com/th/id/R.6b0022312d41080436c52da571d5c697?rik=4kYwQ1H0Af8lGw&riu=http%3a%2f%2fassets.stickpng.com%2fimages%2f585e4bcdcb11b227491c3396.png&ehk=qIyBqqHtuGh6Q4AT6rdJLjmcvimJ9e8r05TLahpkS0o%3d&risl=&pid=ImgRaw&r=0"
        alt="Edwin Ordoñez"
      />
      <h1
        class="text-white text-3xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Edwin Ordoñez
        <a
          href="https://www.linkedin.com/in/edwin-julio-ordo%C3%B1ez-larrea/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge> Disponibilidad para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Más de 2 años de experiencia en </span>
        <span class="text-yellow-200/90"
          >creación y actualización de páginas web, manejo de hosting y análisis operativo.</span
        > Destaco por mi habilidad para trabajar en equipo, adaptabilidad, responsabilidad,
        puntualidad, habilidades analíticas y comunicación efectiva.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/edwin-julio-ordo%C3%B1ez-larrea/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/EdwinOl">
          <GibHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:edwin.julio.or@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          edwin.julio.or@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
